html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-width: 1024px;
}
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#top_status_bar {
    width: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
    background: linear-gradient(to right, #acacac, #000000, #acacac);
    text-align: center;
}
#top_button_bar {
    position: relative;
    float: left;
    background-color: rgba(000,000,000,0.7);
    color: #ffffff;
    margin: 15px;
    padding: 5px;
    box-shadow: 0px 0px 10px #000000;
    clear: both;
    cursor: default;
}
#button_files {
    width: 120px;
    height: 20px;
    position: relative;
    display: inline-block;
    cursor: default;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    transition: background-color 0.3s;
}
#button_files:hover {
    background-color: #211cff;
}
#button_files_s {
    width: 120px;
    height: 20px;
    position: relative;
    display: inline-block;
    cursor: default;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    transition: background-color 0.3s;
}
#button_files_s:hover {
    background-color: #211cff;
}
#button_messages {
    width: 120px;
    height: 20px;
    position: relative;
    display: inline-block;
    cursor: default;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    transition: background-color 0.3s;
}
#button_messages:hover {
    background-color: #211cff;
}
#button_messages_s {
    width: 120px;
    height: 20px;
    position: relative;
    display: inline-block;
    cursor: default;
    text-align: center;
    color: #ffffff;
    background-color: #000000;
    transition: background-color 0.3s;
}
#button_messages_s:hover {
    background-color: #211cff;
}
#body_content {
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: rgba(000,000,000,0.1);
    text-align: center;
    color: #000000;
    clear: both;
    overflow: hidden;
}
#body_content_container {
    width: auto;
    min-height: 200px;
    position: relative;
    background-color: transparent;
    color: #000000;
    text-align: left;
    margin: 0px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 45px;
    padding-bottom: 15px;
}
#body_content_container a:link, #body_content_container a:visited {
    color: #000000;
}
#body_content_container a:hover, #body_content_container a:active {
    color: #371cf4;
}
#body_content_button_scroll_bottom {
    position: fixed;
    right: 0px;
    top: 180px;
    width: 30px;
    height: 30px;
    color: #000000;
    background-color: #f40000;
    opacity: 0.1;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 30px;
    cursor: default;
    transition: opacity 0.4s;
}
#body_content_button_scroll_bottom:hover {
    opacity: 0.8;
}
#body_content_button_scroll_top {
    position: fixed;
    right: 0px;
    top: 150px;
    width: 30px;
    height: 30px;
    color: #000000;
    background-color: #f40000;
    opacity: 0.1;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 30px;
    cursor: default;
    transition: opacity 0.4s;
}
#body_content_button_scroll_top:hover {
    opacity: 0.8;
}
#txt_send {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    z-index: 2;
    display: none;
    background-color: rgba(000,000,000,0.8);
    color: #000000;
    opacity: 1;
    /*transition: opacity 1s linear 0s;*/
}
#txt_area {
    width: 95%;
    color: #000000;
    clear: both;
    height: 500px;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
    border: solid 0px #000000;
    clear: both;
}
#file_send {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    z-index: 2;
    display: none;
    background-color: rgba(000,000,000,0.8);
    color: #000000;
    opacity: 1;
    vertical-align: middle;
}
#file_send_selected {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    text-align: center;
}
.file_list_span {
    position: relative;
    color: #000000;
    text-align: left;
    font-size: 18px;
    padding: 2px;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 1px;
    background-color: #a5d1fa;
    width: 100%;
    height: 50px;
    display: inline-block;
    transition: background-color 0.4s;
}
.file_list_span:hover {
    background-color: #7ebef8;
}
.file_list_span_inner {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
    margin-right: 5px;
    text-align: left;
    display: inline-block;
    color: #585858;
    font-size: 12px;
}
.file_list_span_button_del {
    position: absolute;
    display: block;
    right: 0px;
    bottom: 0px;
    float: right;
    width: 50px;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    color: #000000;
    text-align: center;
    background-color: #e2e2e2;
    cursor: default;
    padding: 0px;
    margin: 0px;
    margin-bottom: 2px;
    margin-right: 2px;
    transition: background-color 0.3s;
}
.file_list_span_button_del:hover {
    background-color: #ff9598;
}
.file_list_span_button_ren {
    position: absolute;
    display: block;
    right: 60px;
    bottom: 0px;
    float: right;
    width: 50px;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    color: #000000;
    text-align: center;
    background-color: #e2e2e2;
    cursor: default;
    padding: 0px;
    margin: 0px;
    margin-bottom: 2px;
    margin-right: 0px;
    transition: background-color 0.3s;
}
.file_list_span_button_ren:hover {
    background-color: #ff9598;
}